.contentWrapper{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  max-width: 60%;
  margin:0 auto;
}

.contact{
  display:flex;
  flex-wrap: wrap;
}

.contact_button{
  margin-right: 10px;
}