.headerContainer{
    display: flex;
    top:0;
    margin: 50px 0 20px 0 ;
}

.headerContainer::after{
    content: "";
    background: repeating-linear-gradient(90deg,red,red 3px,transparent 0,transparent 10px);
    display: block;
    width: 100%;
    right: 10px
}

.home_link{
    flex: 0 0 auto;
    max-width: 100%;
    text-decoration: none;
}

.verticle-line {
    width: 3px;
    height: 40px;
    background: red;
    margin: 0 6px;
}

.home{
    background-color: red;
    color:white !important;
    height:30px;
    display: flex;
    align-items: center;
    padding:5px 10px;
}