.headerContainer{
    display: flex;
    top:0;
    margin: 50px 0 0 0 ;
}

.verticle-line {
    width: 2px;
    height: 40px;
    background: red;
    margin: 0 10px;
}

.home{
    background-color: red;
    color:white !important;
    width: 90px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:5px;
}